{
  "setupFiles": [
    "<rootDir>/__jest__/setup/globals.js",
    "<rootDir>/__jest__/setup/configureLoggerForTests.js"
  ],
  "transform": {
    "\\.(ts|tsx)$": "<rootDir>/__jest__/typeScriptPreprocessor.js"
  },
  "moduleNameMapper": {
    "\\.(css|less)$": "<rootDir>/__jest__//mocks/styleMock.js"
  },
  "testRegex": "/test/.*\\.spec\\.ts$",
  "moduleFileExtensions": ["ts", "tsx", "js", "jsx"],
  "coverageDirectory": "coverage",
  "collectCoverageFrom": [
    "src/**/*.{ts,tsx,js,jsx}",
    "!src/**/*.d.ts"
  ]
}